.top {
    padding-top: 70px;
}
.center-content {
    display: flex;
    flex-direction:column ;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    
}

.background-red{
    background: rgb(255,246,211);
    background: linear-gradient(90deg, rgba(255,246,211,1) 2%, rgba(255,109,109,1) 100%);
    min-height: 100vh;
          height: auto;
        
  }
