<div @fadeInStagger class="center back">
    <h1><i class="bi bi-archive"></i> My Projects</h1>
    <small>Please note, that these are pre-released project with MockBackEnds/HardCoded services etc.</small>
    <small>It is not final versions, so you could run into minor bugs.</small>
       <div  *ngFor="let project of projects" class="card card-sizing" >
            <img src={{project.img}} class="card-img-top pr-img " alt="...">
            <div class="card-body">
                <h5 class="card-title">{{project.name}}</h5>
                <p class="card-text">{{project.summary}}</p>
                <a href={{project.url}} class="btn btn-danger red-bg">Detail</a>
            </div>
        </div>
   </div>