<div class="center back">
    <div class="grid">
        <div class="card text-card ">
            <h3 class=""> My Story...</h3>
            <hr>
            <p class="text-break"> I am person with passion in creating a developing new things. I love learnign of new things. Coding is my hobby . I started in 2021 with C# courses on net, but i really quickly fell totally into it. After few months with C# I started with course MVC .NET where I touched FrontEnd Framework Agular, Javascript/Typescript. Today I am building small Apps for users with responsive Front-End & Back-End made with C# ,Sql.</p>
        </div>
        <div class="card pic-card"><img class="navbar-img" src="assets/me.jpg"></div>
    </div>
</div>
