.center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    height: 83vh;
    max-height: 100%;

}

.left-pad {
    padding-left: 10%;
}

.right-pad {
    padding-right: 10%;
}

.back {
    background: rgb(255, 246, 211);
    background: linear-gradient(90deg, rgba(255, 246, 211, 1) 2%, rgba(255, 109, 109, 1) 100%);
}

.navbar-img {
    border-radius: 15px;
    vertical-align: middle;
    width: 80%;
    height: 100%;
    margin-right: 15px;
    align-self: center;
}

button {
    margin-top: 50px;
    height: 55px;
    border-radius: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 80vh 60vh;
    grid-template-rows: 400px 220px;
    gap: 30px;
}

.card {
    background-color: white;
    height: 70vh;

}

.pic-card {
    background-color: transparent;
    border: none;
}

.text-card {
    display: flex;
    padding-top:20px ;    
    border-radius: 15px;
    text-align: center;
    padding-top: 15%;

    border-radius:  22% 44% 26% 34% / 35% 41% 37% 37%  ;
    
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);

}
h3{
    align-self: start;
    padding: 30px;
    

}
p{
    padding: 20px;
}