<div class="back center">
    <h2><i class="bi bi-star"></i> My Skills </h2>
    <div @stagerIn class="row">
        <div class="container">
            <h2><i class="bi bi-filetype-js"></i>JS & TS</h2>
            <p>I started JS & TS with Angular. As you can see in projects it is now my primary Front-End development
                enviroment</p>
        </div>
        <div class="container">
            <h2> C#</h2>
            <p>My first coding expirience was with console & desktop apps(WPF) using database on SQL server.
                Later on I started to learn coding web(MVC) apps where i started to expand my coding skills into
                different languages.                
                
                </p>
                <p>
                Today I am using C# as coding language for my Back-end - for building APIs with .NET core.
                
            </p>
        </div>
        <div class="container">
            <h2><i class="bi bi-code-slash"></i> HTML & CSS</h2>
            <p>Html & Css = daily bred. I know all essentials to build responsive Front-End for my apps. But to be
                honest, there will be always something I need to Google.</p>
        </div>
        
        <div class="container">
            <h2><i class="bi bi-database"></i>Database</h2>
            <p>I have expirience mainly with SQL on local server, but in in free time I  worked with Firebase in few projects.</p>
        </div>
        <div class="container">
            <h2><i class="bi bi-border-outer"></i>Frameworks</h2>
            <p>For Front-End I am quite familiar with Angular. On Back-End I work  quite often with Identity and Entity Frameworks.</p>
            <p>Currently I am building apps in .NET Core - where I am combining most of my skills</p>
        </div>
        <div class="container">
            <h2><i class="bi bi-eyeglasses"></i>Testing</h2>
            <p>For testing and Debugging  of APIs I work with Postman. I have some expirience also with basic UnitTesting using Jasmine.</p>
        </div>
        <div class="container">
            <h2><i class="bi bi-tools"></i>Tools</h2>
            <p>I work VS Code and I have expirience with VS too. I have basic skills with GIT and GitHub too - u can check my GitHub via homepage link.</p>
        </div>
    </div>

</div>