.center{
    display: flex;
    flex-direction:column ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    text-align: center;
    height: 83vh;
    max-height: 100%;
    
}
.left-pad{
    padding-left: 10%;
}
.right-pad{
    padding-right: 10%;
}
.back{
    background: rgb(255,246,211);
background: linear-gradient(90deg, rgba(255,246,211,1) 2%, rgba(255,109,109,1) 100%);
min-height: 100vh;
      height: auto;
    
}
button{
    margin-top: 50px;
    margin-bottom: 15px;
    height: 55px;
    border-radius: 15px;
}
.grid{
    display: grid;
    grid-template-columns: 80vh 60vh ;
    grid-template-rows: 400px 220px ;
    gap: 30px;
}
.card{
    background-color: white;
}